html, body, #root {
    height: 100%;
}

body {
    margin: 0;
}

:root {
    --mono-font: 'Cascadia Mono', 'Cascadia Code', ui-monospace, SFMono-Regular, Menlo, Consolas, 'Liberation Mono', monospace;
}

.mono {
    font-family: var(--mono-font);
}
